.title  {
align-items: center;

}

.imgBox{
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.imgBox img{
    max-width: 200px;
    margin-bottom: 40px;
    height: auto;
}
.cardAboutBox{
    margin-top: 50px;
}

.cardHeader{
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    
    padding: 10px;
}

.textBox{
    padding: 20px;
    color: #212529;
    font-family: sans-serif;
}

.textBox .wave{
    font-size: 140%;
}
.textBox p{
    letter-spacing: 0.4;
}

@media only screen and  (max-width: 1440px){
    .cardAboutBox{
        margin-top: 20px;
    }
}

@media only screen and  (max-width: 1024px){
    .cardAboutBox{
        margin-top: 10px;
    }
}

@media only screen and  (max-width: 963px){
    .cardAboutBox{
        margin-top: 0;
    }
}

@media only screen and  (max-width: 900px){
    .imgBox{
        display: grid;
    }
}

@media only screen and  (600px<width< 700px){
   .imgBox img{
    max-width: 150px;
   }
}

@media only screen and  (440px>width){
   .imgBox img{
    width: 100%;
    margin-bottom: 5px;
   }
}