.experienceBox{
    background-color: #e9d5a1;
    height: auto;
}

.experienceBox h2{
    margin: 0;
}

.chips{
    margin-top: 15px;
}
.chips>div{
    margin-right: 5px;
    font-size: 11px;
    background-color: #f9f5e9;
}
.hourGlassBox{
        top:16px;
}

@media only screen and (max-width: 1170px) {
   .experienceBox{
    padding-left: 10%;
   }

    .hourGlassBox{
        top:46px;
    }
    
    .timeline_element{
        width:600px;
    }
}

@media only screen and (max-width: 772px) {
    
    .timeline_element{
        width:95%;
    }
}