.cardBox{
    text-align: center;
    transition: all .2s linear !important;
    z-index: 0;
    position: relative;
     width: 320px;

}

.cardBox:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    transform: scale(1.01);
    z-index:10;
} 

.imgBox{
    padding: 10px;
    position: relative;
    z-index: 0;
}

.imgBox img{
    display: block;
    width: 100%;
    margin-bottom: 20px;
  
}

.sliderImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    position: relative;
}

.title{
    color: #212529;
    padding-top: 5px;
}


.li_slider{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #e9d5a1;
    transition: all 0.3s ease;
}

@media only screen and (max-width:1050px) {
    .cardBox{
        width: 300px;
    }
}

@media only screen and (width<928px) {
    .li_slider{
        width: 10px;
        height: 10px;
    }
}
