





body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  border: 0;
}

.standard_header{
  font-family: sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  padding: 5% 0;
  text-transform: uppercase;
  font-weight: normal;
}

header{
  color: #353239;
}

header h1{
  font-weight: 600;
  font-size: 300%;
  width: 100%;
  font-family: Arial, sans-serif;
  
}

header .title p{
  margin: 0;
  font-size: 160%;
  text-transform:uppercase;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

footer{
  color: #ffffff;
  text-align: center;
  background: #1f1f1f;
}

footer .copyright{
  max-height: 100px;
  padding: 15px 0;
  font-size: 14px;
}
.slick-dots li.slick-active div {
  width:18px !important;
  height: 18px !important;
}

@media only screen and (max-width: 432px) {
    header h1{
        text-align: center;
        width: 90%;
        font-size: 200%;
    }
    header .title p{
    font-size: 120%;
  }
}